@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

/******************************************** navbar **********************************************/

.nav-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.nav-link:hover {
  color: #e5c09d;
  font-size: 24px;
}

.nav-link .active {
  color: #e5c09d;
}

.navbar-brand {
  font-family: "Noto Sans", sans-serif;
  font-size: 30px !important;
  font-weight: 400;
  color: #e5c09d;
}

.navbar-brand:hover {
  color: #e5c09d;
}

.navbar-brand-logo {
  width: 60px;
}

.nav-btn {
  background-color: #e5c09d;
  border-radius: 10px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  color: #000;
  border: 2px solid #5f5041;
  margin-left: 15px;
}

.nav-btn:hover {
  color: #000;
}

/************************************ home ************************************************/

.home-heading {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 70px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.home-row {
  margin: 10% 5%;
  vertical-align: middle;
  display: table;
}

.home-row-image-1 {
  width: 50%;
  float: right !important;
}

.home-row-image-2 {
  width: 50%;
  float: left !important;
}

.home-content-1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #101010;
  margin-top: 8%;
}

.home-content-2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #101010;
  margin-top: 15%;
}

.home-content-div {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 15px;
  padding-bottom: 0px;
  width: 50%;
  display: table-column;
}

.blink {
  animation: blink 0.5s infinite;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

/**************************************** WHY CHOSE US **************************************8*/

.why-chose-us-container {
  margin: 4% 10%;
}

.consultation-heading {
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  color: #0e32ae;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.consultation-content {
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}
.consultation-card {
  border: 4px solid #0e32ae;
  border-radius: 1.2vh;
  width: 266px !important;
  height: 278px;
  text-align: center;
  margin: 3vh 1.6vh;
}

.text {
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  text: bold;
  margin: 5% auto;
}

.consultation-logo {
  font-size: 70px;
  color: #465ccd;
  margin: 35px;
}

/****************************************** OUR SERVICES *****************************************88*/

.our-services {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;

  color: #222222;
}

.our-services-content {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;

  color: #000000;
}

.technological-service {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-top: 52px;
  margin-bottom: 52px;

  color: #0e32ae;
}

.technological-services-container {
  margin-bottom: 7%;
  padding: 0px !important;
}
.our-services-card {
  width: 250px;
  height: 345px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: inline-block;
  margin: 0% 2.4% 5% 2.4%;
}

.blue-hr {
  margin: 0px !important;
  border-style: none;
  border-top: 6px solid #0e32ae !important;
  border-radius: 8px;
}

.our-services-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  align-items: center;
  text-align: center;
  margin: 27px;

  color: #222222;
}

.our-service-content {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 26px;

  color: #000000;
}

.web-development-logo {
  width: 93px;
  height: 82.87px;
  margin: 43px 77px;
  margin-bottom: 0px !important;
}

.app-development-logo {
  width: 93px;
  height: 82.87px;
  margin: 43px 77px;
  margin-bottom: 0px !important;
}

.graphic-designing-logo {
  width: 111.72px;
  height: 95.03px;
  margin: 30px 77px;
  margin-bottom: 0px !important;
}

.logo-designing-logo {
  width: 111.72px;
  height: 95.03px;
  margin: 30px 62px;
  margin-bottom: 0px !important;
}

.logo-designing-logo {
  width: 111.72px;
  height: 95.03px;
  margin: 30px 62px;
  margin-bottom: 0px !important;
}

.seo-logo {
  width: 111.72px;
  height: 95.03px;
  margin: 30px 62px;
  margin-bottom: 0px !important;
}

.digital-marketing-logo {
  width: 111.72px;
  height: 95.03px;
  margin: 30px 62px;
  margin-bottom: 0px !important;
}

.video-editing-logo {
  width: 111.72px;
  height: 95.03px;
  margin: 30px 62px;
  margin-bottom: 0px !important;
}

.paid-prototype-logo {
  width: 111.72px;
  height: 95.03px;
  margin: 30px 62px;
  margin-bottom: 0px !important;
}

/***************************************** Educational services ****************************************88*/

.educational-services-container {
  padding: 0% !important;
}

.educational-services-card {
  width: 250px;
  height: 345px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: inline-block;
  margin: 0% 2.4% 7% 2.4%;
}
.educational-services-logo {
  width: 93px;
  height: 82.87px;
  margin: 43px 77px;
  margin-bottom: 0px !important;
}

.educational-services-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  align-items: center;
  text-align: center;
  margin: 27px;
  color: #222222;
}

.educational-services-content {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 26px;

  color: #000000;
}

/*********************************** REQUEST QUOTE *********************************/

.request {
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: center;
}

.request-div {
  text-align: center;
  margin: 170px 35px;
}

.request-btn {
  border-radius: 15px;
  background-color: #465ccd;
  font-family: Raleway;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  padding: 0.5em 1em;
  margin: 40px auto;
  color: white;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  white-space: nowrap;
}

.icon-div {
  text-align: center;
  font-size: 80px;
  margin-top: -10%;
  color: #0e32ae;
}

.icon {
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #0e32ae;
  padding: 10px;
}

.modal {
  border-radius: 30px;
  filter: drop-shadow(0 0 10px white);
}

.close-x {
  margin-top: -8%;
  font-size: 20px;
  background: none;
  border: none;
}

.modal-header {
  border-bottom: 0 !important;
  text-align: center;
}

.modal-title {
  color: #5f5041;
  margin: 0 auto;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
}

.modal-footer {
  border-top: 0 !important;
}

/*************************************** recent projects *******************************************/

.recent-projects-hr {
  display: inline-block;
  width: 40vh;
  margin: 0.5rem 0.8rem !important;
  border-style: none;
  border-top: 3px solid #000 !important;
  border-radius: 8px;
}

.recent-projects-heading {
  font-size: 48px;
  font-family: Montserrat;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin: 6rem auto 1.5rem auto;
}
.recent-projects-content {
  font-size: 22px;
  font-weight: 400;
  font-family: Montserrat;
  color: #ffff;
  margin: 7vh 10vh;
}
.recent-projects-left-box {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  height: 67.9vh;
}
.recent-projects-right-box {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  height: 67.9vh;
}
.carousel {
  margin: 10vh 20vh;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin: 0.3rem;
  background-color: #8498dd;
}
.carousel-indicators {
  bottom: -90px;
}

.carousel-indicators .active {
  background-color: #0e32ae;
  width: 18px;
  height: 18px;
  margin-top: 2.5px;
}

/******************************** Followers *****************************************************/

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);

#follower {
  font-family: Open Sans, "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif;
  font-size: 18px;
  color: rgb(70, 68, 68);
  position: relative;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sectionClass {
  padding: 20px 0px 50px 0px;
  position: relative;
  display: block;
}

.fullWidth {
  width: 100% !important;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}

.projectFactsWrap {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}

#projectFacts .fullWidth {
  padding: 0;
}

.projectFactsWrap .item {
  width: 25%;
  height: 100%;
  padding: 50px 0px;
  text-align: center;
}

.projectFactsWrap .item:nth-child(1) {
  background: rgb(16, 31, 46);
}

.projectFactsWrap .item:nth-child(2) {
  background: rgb(18, 34, 51);
}

.projectFactsWrap .item:nth-child(3) {
  background: rgb(21, 38, 56);
}

.projectFactsWrap .item:nth-child(4) {
  background: rgb(23, 44, 66);
}

.projectFactsWrap .item p.number {
  font-size: 40px;
  padding: 0;
  font-weight: bold;
}

.projectFactsWrap .item p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 0;
  padding: 10px;
  font-family: "Open Sans";
}

.projectFactsWrap .item span {
  width: 60px;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;
}

.projectFactsWrap .item i {
  vertical-align: middle;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
}

.projectFactsWrap .item:hover i,
.projectFactsWrap .item:hover p {
  color: white;
}

.projectFactsWrap .item:hover span {
  background: white;
}

@media (max-width: 786px) {
  .projectFactsWrap .item {
    flex: 0 0 50%;
  }
}

.trans {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
}

/************************************************************ Contact us **********************************************/

.contact-us-container {
  margin: 0vh 15vh;
}

.contact-us {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bolder;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 14vh;
  color: #222222;
}

.contact-us-form-div {
  width: 100%;
  background: #ffffff;
  box-shadow: 4px 4px 26px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: block;
  text-align: center;
}

.contact-us-heading {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 20px auto 40px auto;
  color: #0e32ae;
}

.map {
  width: 100%;
}

.contact-us-inner-div {
  width: 60%;
  margin: 20px auto;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #0e32ae;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: black;
}

.contact-button {
  padding: 8px 30px;
  color: white;
  background: #0e32ae;
  border-radius: 8px;
  margin: 40px auto 0 auto;
}

/******************************************** Footer *****************************************88*/

footer {
  margin-top: 12vh;
  width: 100%;
  background-color: #222222;
  border-radius: 8px;
}

.footer-logo {
  height: 26vh;
  width: 26vh;
  margin: 1.5vh;
}

.footer-contact {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  padding: 5px;
  color: #ffffff;
  transition: all 0.5s ease-in-out !important;
}

.footer-contact:hover {
  color: #e5c09d;
  font-size: 25px;
  transition: all 0.5s ease-in-out !important;
}

.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

.footer-navigation {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out !important;
  color: #ffffff;
}

.footer-navigation:hover {
  font-size: 25px;
  color: #e5c09d;
  transition: all 0.5s ease-in-out !important;
}

.footer-navigation-row {
  margin-top: 30px;
}

.social-media {
  font-size: 1.5rem;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  color: white;
  transition: all 0.5s ease-in-out !important;
}

.social-media:hover {
  font-size: 2rem;
  color: #e5c09d;
  transition: all 0.5s ease-in-out !important;
}

.social-media-row {
  padding: 10px;
}

.copyright {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

@media (min-width: 300px) and (max-width: 580px) {
  /************************* navbar **************************************************/

  .nav-link {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #ffffff;
  }

  .nav-link:hover {
    color: #e5c09d;
    font-size: 16px;
  }

  .nav-link .active {
    color: #e5c09d;
    font-size: 16px;
  }

  .navbar-brand {
    font-family: "Noto Sans", sans-serif;
    font-size: 20px !important;
    font-weight: 400;
    color: #e5c09d;
    display: none !important;
  }

  .navbar-brand-logo {
    width: 40px;
  }

  .nav-btn {
    background-color: #e5c09d;
    border-radius: 10px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    padding: 5px 7px;
    display: flex;
    align-items: center;
    color: #000;
    border: 2px solid #5f5041;
    margin-left: 0px;
  }

  .nav-btn:hover {
    color: #000;
  }

  /*************************************************** home *******************************************************/

  .home-heading {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 30px !important;
    line-height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .home-content-1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    padding: 10px;
    color: #101010;
  }

  .home-content-2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    align-items: center;
    color: #101010;
    padding: 10px;
  }

  .home-row {
    margin: 10% 5%;
    vertical-align: middle;
    display: table;
  }

  .home-row-image-1 {
    width: 100%;
  }

  .home-row-image-2 {
    width: 100%;
  }

  .home-content-div {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 0px;
    width: 100%;
    display: table-column;
  }

  .blink {
    animation: blink 0.5s infinite;
  }

  @keyframes blink {
    to {
      opacity: 0;
    }
  }

  /********************************************** WHY CHOSE US ***********************************/

  .why-chose-us-container {
    margin: 4% 10%;
  }

  .consultation-heading {
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    color: #0e32ae;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
  }

  .consultation-content {
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
  }
  .consultation-card {
    border: 4px solid #0e32ae;
    border-radius: 1.2vh;
    width: 266px !important;
    height: 278px;
    text-align: center;
    margin: 3vh 1.6vh;
  }

  .text {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    margin: 5% auto;
  }

  /****************************************** OUR SERVICES **************************************/

  .our-services {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 56px;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
    color: #222222;
  }

  .our-services-content {
    font-family: Montserrat;
    font-style: normal;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    color: #000000;
  }

  .technological-service {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    margin-top: 52px;
    margin-bottom: 52px;
    color: #0e32ae;
  }

  .technological-services-container {
    margin-bottom: 7%;
    padding: 0px !important;
  }

  .our-services-card {
    width: 250px;
    height: 345px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    display: inline-block;
    margin: 0% 2.4% 5% 2.4%;
  }

  .blue-hr {
    margin: 0px !important;
    border-style: none;
    border-top: 6px solid #0e32ae !important;
    border-radius: 8px;
  }

  .our-services-title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    align-items: center;
    text-align: center;
    margin: 27px;

    color: #222222;
  }

  .our-services-content {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 26px;

    color: #000000;
  }

  .web-development-logo {
    width: 93px;
    height: 82.87px;
    margin: 43px 77px;
    margin-bottom: 0px !important;
  }

  .app-development-logo {
    width: 93px;
    height: 82.87px;
    margin: 43px 77px;
    margin-bottom: 0px !important;
  }

  .graphic-designing-logo {
    width: 111.72px;
    height: 95.03px;
    margin: 30px 77px;
    margin-bottom: 0px !important;
  }

  .logo-designing-logo {
    width: 111.72px;
    height: 95.03px;
    margin: 30px 62px;
    margin-bottom: 0px !important;
  }

  .logo-designing-logo {
    width: 111.72px;
    height: 95.03px;
    margin: 30px 62px;
    margin-bottom: 0px !important;
  }

  .seo-logo {
    width: 111.72px;
    height: 95.03px;
    margin: 30px 62px;
    margin-bottom: 0px !important;
  }

  .digital-marketing-logo {
    width: 111.72px;
    height: 95.03px;
    margin: 30px 62px;
    margin-bottom: 0px !important;
  }

  .video-editing-logo {
    width: 111.72px;
    height: 95.03px;
    margin: 30px 62px;
    margin-bottom: 0px !important;
  }

  .paid-prototype-logo {
    width: 111.72px;
    height: 95.03px;
    margin: 30px 62px;
    margin-bottom: 0px !important;
  }

  /****************************** Educational services **********************************/

  .educational-services-container {
    padding: 0% !important;
  }

  .educational-services-card {
    width: 250px;
    height: 345px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    display: inline-block;
    margin: 0% 2.4% 7% 2.4%;
  }

  .educational-services-logo {
    width: 93px;
    height: 82.87px;
    margin: 43px 77px;
    margin-bottom: 0px !important;
  }

  .educational-services-title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    align-items: center;
    text-align: center;
    margin: 27px;
    color: #222222;
  }

  .educational-services-content {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 26px;
    color: #000000;
  }

  /************************************************ REQUEST QUOTE *******************************/

  .request {
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
  }

  .request-div {
    text-align: center;
    margin: 80px 35px;
  }

  .request-btn {
    border-radius: 15px;
    background-color: #465ccd;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 0.2em 0.8em;
    margin: 40px auto;
    color: white;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
  }

  /********************************************* recent projects *******************************************/

  .recent-projects-hr {
    display: inline-block;
    width: 40vh;
    margin: 0.5rem 0.8rem !important;
    border-style: none;
    border-top: 3px solid #000 !important;
    border-radius: 8px;
  }

  .recent-projects-heading {
    font-size: 48px;
    font-family: Montserrat;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin: 6rem auto 1.5rem auto;
  }

  .recent-projects-content {
    font-size: 22px;
    font-weight: 400;
    font-family: Montserrat;
    color: #ffff;
    margin: 7vh 10vh;
  }

  .recent-projects-left-box {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    height: 67.9vh;
  }

  .recent-projects-right-box {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    height: 67.9vh;
  }

  .carousel {
    margin: 10vh 20vh;
  }

  .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 0.3rem;
    background-color: #8498dd;
  }
  .carousel-indicators {
    bottom: -90px;
  }

  .carousel-indicators .active {
    background-color: #0e32ae;
    width: 18px;
    height: 18px;
    margin-top: 2.5px;
  }

  /************************************************ Contact us *************************************/

  .contact-us-container {
    margin: 0vh 10vh;
  }

  .contact-us {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bolder;
    font-size: 35px;
    line-height: 35px;
    display: flex;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 14vh;

    color: #222222;
  }

  .contact-us-form-div {
    width: 100%;
    background: #ffffff;
    box-shadow: 4px 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: block;
    text-align: center;
  }

  .contact-us-heading {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin: 20px auto 20px auto;

    color: #0e32ae;
  }

  .map {
    width: 100%;
  }

  .contact-us-inner-div {
    width: 80%;
    margin: 20px auto;
  }

  .input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #0e32ae;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 6px;

    color: #d0d0d0;
  }

  .contact-button {
    padding: 2px 15px;
    color: white;
    background: #0e32ae;
    border-radius: 8px;
    font-size: 18px;
    margin: 40px auto 0 auto;
  }

  /********************************************************** Footer ***************************************/

  footer {
    margin-top: 12vh;
    background-color: #222222;
    border-radius: 8px;
  }

  .footer-logo {
    height: 15vh;
    width: 15vh;
    margin: 1.5vh;
  }

  .footer-contact {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    padding: 5px;
    color: #ffffff;
  }

  .col-xs-15,
  .col-sm-15,
  .col-md-15,
  .col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-xs-15 {
    width: 20%;
    float: left;
  }

  @media (min-width: 768px) {
    .col-sm-15 {
      width: 20%;
      float: left;
    }
  }

  @media (min-width: 992px) {
    .col-md-15 {
      width: 20%;
      float: left;
    }
  }

  @media (min-width: 1200px) {
    .col-lg-15 {
      width: 20%;
      float: left;
    }
  }

  .footer-navigation {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 26px;
    display: flex;
    align-items: center;

    color: #ffffff;
  }

  .footer-navigation:hover {
    font-size: 15px;
  }

  .footer-navigation-row {
    margin-top: 30px;
  }

  .social-media {
    width: vh;
    height: 5vh;
    text-decoration: none;
    margin: 10px;
  }

  .social-media:hover {
    width: 5.5vh;
    height: 5.5vh;
  }

  .social-media-row {
    margin-top: 10px;
    padding: 10px;
  }

  .copyright {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
  }
}
